<div class="row stbcolor-gray fifth">
  <div class="col-xs-10 top-margin-10 text-center bottom-margin-0">
    <h1 style="color: white;">
      <span class="glyphicon glyphicon-stats" style="color: #b0dfdb;"></span>        
      Innstillinger
    </h1>
  </div>
  <div class="col-xs-2 top-margin-10 text-center bottom-margin-0">
    <a routerLink="/config"><span class="glyphicon glyphicon-cog" style="color: #e6e6e6; margin-top: 6px; font-size: 1.2em;"></span></a> 
  </div>
</div>

<div class="row">
</div>