<div class="row stbcolor-gray fifth">
  <div class="col-xs-12 top-margin-10 text-center bottom-margin-0">
    <h1 style="color: white;">
      <span class="glyphicon glyphicon-plus" style="color: #819f2b;"></span>
      Nytt sparemål
    </h1>
  </div>
</div>

<div class="row">

  <div class="row top-margin-20" style="font-size: 1.2em;">
    <div class="col-xs-10 col-xs-offset-1">
      <form>

        <div class="form-group">
          <label for="what">Hva eller hvem sparer du til?</label> 
          <input type="text" name="what" [(ngModel)]="goal.what" placeholder="" class="text-center"/> 
        </div>

        <div class="form-group">
          <label for="howMuch">Hvor mye skal du spare?</label> 
          <input type="tel" name="howMuch" [(ngModel)]="goal.howMuch" placeholder="" class="text-center"/> 
        </div>

        <div class="form-group">
          <label for="when">Når skal du være ferdig?</label> 
          <input type="date" name="date" #myDate [value]="goal.when | date:'yyyy-MM-dd'" (input)="goal.when=parseDate($event.target.value)" (onchange)="onWhenChanged()" class="text-center"/> 
        </div>

        <div *ngIf="goal.getHowMuchPerDay > 0" class="form-group text-center">
            <h3><b>{{goal.getHowMuchPerDay}} kr</b> per dag</h3>
        </div>

        <div class="form-group">
          <div class="btn-circle stbcolor-secondary third lighter centered text-white" style="font-size: 1.5em;" (click)="saveGoal()">OK</div>
        </div>

      </form>
    </div>
  </div>
</div>