<div class="row stbcolor-gray fifth">
  <div class="col-xs-10 top-margin-10 text-center bottom-margin-0">
    <h1 style="color: white;">
      <span class="glyphicon glyphicon-plus" style="color: #819f2b;"></span>
      Nytt sparemål
    </h1>
  </div>
  <div class="col-xs-2 top-margin-10 text-center bottom-margin-0">
    <a routerLink="/config"><span class="glyphicon glyphicon-cog" style="color: #e6e6e6; margin-top: 6px; font-size: 1.2em;"></span></a> 
  </div>
</div>

<div class="row">

  <div id="formContainer" class="row top-margin-10" style="font-size: 1.2em;">
    <div class="col-xs-10 col-xs-offset-1">
      <form>

        <div class="form-group">
          <label for="what">Hva eller hvem sparer du til?</label> 
          <input type="text" name="what" [(ngModel)]="goal.what" placeholder="" class="text-center"/> 
        </div>

        <div class="form-group">
          <label for="howMuch">Hvor mye skal du spare?</label> 
          <input type="tel" name="howMuch" [(ngModel)]="goal.howMuch" (ngModelChange)="onModelChange($event)" placeholder="" class="text-center"/> 
        </div>

        <div class="form-group">
          <label for="when">Når skal du være ferdig?</label> 
          <input type="text" name="date" placeholder="" onfocus="(this.type='date')" [(ngModel)]="goal.when" (ngModelChange)="onModelChange($event)" class="text-center"/> 
        </div>

        <div *ngIf="goal.howMuchPerDay > 0" class="form-group text-center text-white" style="margin-bottom: 10px;">
            <h3><b>{{goal.howMuchPerDay}} kr</b> per dag</h3>
        </div>

        <div class="form-group text-center text-white" style="margin-bottom: 25px;">
            <md-slide-toggle name="automaticSaving" [(ngModel)]="goal.automaticSaving" style="margin-bottom: 25px;">
              Automatisk sparing
            </md-slide-toggle>
            <md-slide-toggle name="saveWithOthers" [(ngModel)]="goal.saveWithOthers" class="centered">
              Spar med andre
            </md-slide-toggle>
        </div>


        <div class="form-group">
          <div class="btn-circle stbcolor-secondary third lighter centered text-white" style="font-size: 1.5em;" (click)="saveGoal()">OK</div>
        </div>

      </form>
    </div>
  </div>
</div>