
<div (click)="goToNext()" class="row stbcolor-primary third">

  <div class="row">
   <img src="{{image}}" style="height:90%;width:90%;margin-left:5%">
  </div>
  <div class="row bottom-margin-0">
    <div class="col-xs-12 text-center">
      <h3>
      Registrer ditt bankkort 
      </h3>
      <p>
        Plasser ditt bankkort i rammen for å registrere kortet du ønsker å benytte til sparing
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <button class="stb-btn center-block" style="width:90%;" routerLink="/nine-creditcard-verified">Neste</button>
    </div>
  </div>

  <button type="submit" routerLink="/six-setup-fundaccount">Tilbake</button>

</div>
