<div class="row stbcolor-gray fifth">
  <div class="col-xs-10 top-margin-10 text-center bottom-margin-0">
    <h1 style="color: white;">
      <span class="glyphicon glyphicon-piggy-bank" style="color: #ffb3b3;"></span>        
      Dine sparemål
    </h1>
  </div>
  <div class="col-xs-2 top-margin-10 text-center bottom-margin-0">
    <a routerLink="/config"><span class="glyphicon glyphicon-cog" style="color: #e6e6e6; margin-top: 6px; font-size: 1.2em;"></span></a> 
  </div>
</div>

<div *ngIf="showBadge" class="row" style="width: 100%; display: block; float: right; position: absolute; top: 20%; opacity: 100%; z-index: 99999;">
    <div class="stb-box mini wide clickable row">
      <div class="col-xs-2">
        <div class="image column">
          <img style="height: 42px; width: 42px; margin-top: 10px; margin-left: -5px;" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678064-star-128.png">
        </div>
      </div>
      <div class="col-xs-10">
        <div class="text column">
          <span class="box-header">{{ badgeText }}</span>
          <p class="boxy">{{ badgeExplanation }}</p>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div *ngFor="let goal of goals" class="col-1-4" style="margin-bottom: 0px">
    <div class="banner">
      <div class="container" style="width:100%;">
          <div class="row stbcolor-secondary third lighter savingsgoal" (click)="toggleSelectedGoal(goal.id)" style="padding-top: 15px;">

              <div class="col-xs-8 col-xs-push-4">
                  <h2>{{ goal.what }}</h2>
                  <p class="intro">{{ goal.saved }} av {{ goal.howMuch }}kr</p>
              </div>
              <div class="col-xs-4 col-xs-pull-8">
                  <h1>{{ getPercentage(goal) }}%</h1>
              </div>
          </div>
          <div *ngIf="goal.id === selectedGoal && showSaveDialog" class="row stbcolor-secondary first savingsgoal">
            <div class="col-xs-12 top-margin-10">
              <div class="row">
                <div class="col-xs-12">
                  <label for="howMuch" style="color: white;">Hvor mye skal du spare?</label> 
                  <input type="tel" name="howMuch" [(ngModel)]="howMuch" placeholder="" class="text-center"/>
                </div>
              </div>
              <div class="row top-margin-10">
                <div class="col-xs-6">
                  <span><button type="button" (click)="addSavings()" class="stb-btn stb-sprite-small plus">Spar</button></span> 
                </div>
                <div class="col-xs-6">
                  <span><button type="button" (click)="showSaveDialog = false" class="stb-btn transparent dark stb-sprite-small link-icon">Avbryt</button></span>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="goal.id === selectedGoal && !showSaveDialog" class="row stbcolor-secondary first savingsgoal">
            <div class="col-xs-4 top-margin-10" style="margin-left: -6px;">
              <span><button type="button" (click)="showSaveDialog = true" class="stb-btn stb-sprite-small plus">Spar</button></span> 
            </div>

            <div class="col-xs-4 top-margin-10">
              <span><button type="button" [routerLink]="['/goal', {id: goal.id}]" class="stb-btn transparent dark stb-sprite-small link-icon">Endre</button></span>
            </div>

            <div class="col-xs-4 top-margin-10">
              <span><button type="button" class="stb-btn alarm stb-sprite-small minus">Ta ut</button></span>
            </div>
          </div>
      </div>
    </div>      
  </div>
</div>