<div class="row stbcolor-gray fifth">
  <div class="col-xs-10 top-margin-10 text-center bottom-margin-0">
    <h1 style="color: white; margin-left: 50px;">
      <span class="glyphicon glyphicon-info-sign" style="color: #e6e6e6;"></span>        
      Informasjon
    </h1>
  </div>
  <div class="col-xs-2 top-margin-10 text-center bottom-margin-0">
  </div>
</div>

<div class="row">
  <div class="col-xs-12 top-margin-20">

    <p style="font-size: 1.2em;">
      Synes du også at sparing er kjedelig og lite engasjerende?
    </p>
      
    <p class="top-margin-10" style="font-size: 1.2em;">
      Det gjorde vi også, så derfor har vi i Storebrand utviklet
      BareSpar, som skal være enkelt, engasjerende og morsomt for deg som sparer.
    </p>

    <p class="top-margin-10" style="font-size: 1.2em;">
      Kom i gang ved å lage et nytt sparemål og gjøre første innskudd. Pengene settes på konto <a href="#">(se kontobetingelser)</a> og du kan
      når som helst avbryte sparingen og ta de ut. 
    </p>
    
    <p class="top-margin-10" style="font-size: 1.2em;">
      Underveis hjelper vi deg med sparetips, og du får også utmerkelser
      som viser hvor god du er til å spare. Spar alene eller spar sosialt med venner. Hvem klarer å spare mest? Sammenlign deg med andre i samme
      område anonymt og se om du er nabolagets Onkel Skrue!
    </p>

  </div>
</div>