<router-outlet></router-outlet>
<div id="menu" class="row stbcolor-gray fifth" style="position: absolute; bottom: 0; width: 100%; height: 10%; overflow: scroll;">
    <div class="top-margin-10 text-center" style="font-size: 2.1em;">
        <div class="col-xs-3" (click)="createNewGoal()">
            <span class="glyphicon glyphicon-plus" style="color: #819f2b;"></span>
        </div>

        <div class="col-xs-3" (click)="navigateTo('goals')">
            <span class="glyphicon glyphicon-piggy-bank" style="color: #ffb3b3;"></span>        
        </div>

        <div class="col-xs-3">
            <span class="glyphicon glyphicon-star" style="color: #fce06d;"></span>        
        </div>

        <div class="col-xs-3">
            <span class="glyphicon glyphicon-stats" style="color: #b0dfdb;"></span>
        </div>
    </div>
</div>