<div class="row stbcolor-primary third">
  <div class="col-xs-12">
    <h1>
      Hva synes du om følgende utsagn?
    </h1>
    <p>
      Jeg foretrekker sikker avkastning fremfor muligheten til høy avkastning som også kan medføre tap
    </p>
  </div>
</div>
<div class="row stbcolor-secondary sixth">

  <div class="row top-margin-20">
    <div class="col-xs-12 bottom-margin-0">
      <div class="stb-btn center-block buttoned-div" (click)="setRisk('low')">Definitivt ja</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 bottom-margin-0">
      <div class="stb-btn center-block buttoned-div" (click)="setRisk('medium')">Delvis. Jeg vil gjerne ha høyere avkastning på pengene, og er villig til å se verdiene svinge noe</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 bottom-margin-0">
      <div class="stb-btn center-block buttoned-div" (click)="setRisk('high')">Jeg er villig til å se verdiene svinge mye, for å få en høyere forventet avkastning over tid</div>
    </div>
  </div>

</div>