<div class="row stbcolor-primary third">
  <div class="col-xs-12">
    <p>
      Basert på din spareprofil og tidshorisont vil jeg anbefale deg følgende fordeling av sparepengene dine...
    </p>
  </div>
</div>
<div class="row stbcolor-primary third" style="height:100%;">

  <div (click)="goToNext()" class="row">
   <img src="{{image}}" style="height:90%;width:90%;margin-left:5%">
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <button class="stb-btn center-block" style="width:90%;" routerLink="/six-setup-fundaccount">Neste</button>
    </div>
  </div>
</div>

