<div class="row stbcolor-primary third">
  <div class="col-xs-12">
    <h1>
      {{title}}
    </h1>
    <p>
      Sett et sparemål, så blir det morsommere å følge med underveis
    </p>
  </div>
</div>
<div class="row stbcolor-secondary sixth">

  <div class="row top-margin-20">
    <div class="col-xs-10 left-margin-20">
      <form role="form">
        <div class="stb-form-group">
          <input id="amount" type="tel" class="has-submit fauxInputFocus full-width" required>
          <button type="submit" class="stb-btn stb-form is-submit fauxInputFocus full-width" routerLink="/four-user-risk-compliance-verification">OK!</button>
        </div>
      </form>
    </div>
  </div>

  <button type="submit" routerLink="/one-select-savings-goal">Tilbake</button>

</div>